<!DOCTYPE html>
<html lang="en" class="scroll-smooth" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StdOut</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
</head>
<body>
    
<header class="w-full border-b border-gray-800 bg-[#0D1117]/80 backdrop-blur-md sticky top-0 z-50">
    <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
            
            <div class="flex-shrink-0 flex items-center gap-2">
                
                <a href="#" class="text-xl font-bold tracking-tighter text-white font-mono">
                    StdOut
                </a>
            </div>

            

            <div>
                <button id="newPostBtn" class="bg-sky-600 hover:bg-sky-500 text-white px-4 py-2 rounded-md text-sm font-bold font-mono transition-all shadow-[0_0_15px_rgba(14,165,233,0.3)]">
                    sudo NEW_ENTRY
                </button>
            </div>
            
        </div>
    </nav>
</header>